/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3 Haz 2021, 22:33:45
    Author     : gurka
*/


.radio-button td{
    color:rgb(25,135,84);
    padding-left: 100px;
    padding-top: 20px;
}

input[type='radio']:checked:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: rgb(25,135,84);
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
    }